<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{account.getName()}}
      <div [style.color]="'green'" [style.font-weight]="'bold'" float-right>{{account.getTotal().toFixed(2)}} €</div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list>
    <div ion-item *ngFor="let item of account.getArray()">
      <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
      {{item.getName()}}
      <div float-right item-end margin-right>{{item.getPrice().toFixed(2)}} €</div>
      <button ion-button icon-only clear color="dark" item-end (click)="editItem($event, item)">
        <ion-icon class="buttonPadding" name="more"></ion-icon>
      </button>
    </div>
  </ion-list>

  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->

  <!-- <button ion-button full (click)="testJSON()">Test</button> -->


</ion-content>

<ion-footer>

  <button ion-button full (click)="editItem($event, null)">{{'LIST.NEW_ITEM' | translate }}</button>
</ion-footer>