<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button class="right-button" ion-button clear icon-only (tap)="navCtrl.pop()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title> {{account.getName()}} </ion-title>
    
    <ion-buttons right>
      <div class="total" [style.color]="account.getTotal() < 0 ? 'red' : 'green'">{{account.getTotal().toFixed(2)}} {{settings.getCurrency()}}</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row  *ngIf="account.getArray().length == 0" align-items-center style="height: 100% !important;">
    <ion-col text-center>
        <ion-label color="light">{{'LIST.NO_ITEM' | translate}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-list>
    <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
    <ion-item *ngFor="let item of account.getArray()">
      {{item.getName()}}
      <div float-right item-end margin-right>{{item.getPrice().toFixed(2)}} {{settings.getCurrency()}}</div>
    </ion-item>
  </ion-list>


</ion-content>